<footer class="site-footer">
  <div class="inner">
    {{ with .Site.Params.copyright }}
      <section class="copyright">{{ . | markdownify }}</section>{{ end }}


    <section>{{ echoParam .Site.Params "hidebyline" }}</section>
    {{ if ne .Site.Params.hidedesignbyline true }}
      <section>
        This page was
	<a href="https://gohugo.io/">built</a>
	using a
	<a href="https://themes.gohugo.io/hugo-scroll/">template</a>
	by
        <a href="https://www.janraasch.com" title="Jan Raasch">janraasch</a>
      </section>{{ end }}

  </div>
</footer>
